.backwardTimer {
    font-size: 5em;
}

.Timer {
    font-size: 5em;
}

.gameConfigContainer {
    font-size: 2em;
}

.btnPreStart {
    width: 30%;
    font-size: 3em;
}

#t_div {
    display: inline-block;
}
